/* Adaptive background:
Add
background-image: url(...);
before using this selector
Use @extend %selector-name*/
@import './mixins';

%section-background {
  @include horizontal-block-center(auto);
  background: {
    repeat: no-repeat;
    position: center center;
    size: cover;
  }
}
