$forange: #c89f2d !global;

.reserve-form {
  @include flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form__input {
  @include wrap-between;
  margin-bottom: 30px;
}

.input__element {
  @include flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.form__input .input__element:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.input__element label {
  @include font-set ('Open Sans',sans-serif, normal, 14px, 700, 1.2, left);
  color: #c9a131;
  margin-bottom: 6px;
}

.input__element label:hover {
  cursor: pointer;
}

.form__element {
  @include input-container;
  color: #7c7c7c;
  resize: none;
  padding-left: 14px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  @include input-border(#c8c6c6);
}

.form__element:focus {
  @include input-border($forange);
  outline: none;
}

.reserve-button {
  @include input-container;
  @include input-border($forange);
  background-color: rgba(200, 159, 45, 0.98);
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.reserve-button:hover,
.reserve-button:focus {
  background-color: rgba(255, 255, 255, 0.4);
  color: $forange;
  cursor: pointer;
}

.form__element--date,
.form__element--party {
  cursor: pointer;
}

.form__element--date::-webkit-inner-spin-button,
.form__element--date::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

.form__element--date::-webkit-input-placeholder {
  display: block;
  background: url(/images/deco-image/picker-indicator.png) no-repeat 92.5% 40%;
}

.form__element--date::-webkit-calendar-picker-indicator {
  display: block;
  background: url(/images/deco-image/picker-indicator.png) no-repeat 50% 50%;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
}

.form__element--party {
  -webkit-appearance: none;
  background-image: url(/images/deco-image/party-icon.png);
  background-repeat: no-repeat;
  background-position: 94% 50%;
  -webkit-appearance: none;
}