@import './header-mix';
@import './pattern-selectors';
@import './container-mix';

.reserve {
  max-width: 1600px;
  background-image: url(/images/deco-image/reserve-background.png);
  @extend %section-background;
}

.content-block {
  @include main-container;
  padding: 100px 0px 102px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-block {
  width: 570px;
  display: flex;
  justify-content: space-between;
}

.content-block .img-block {
  margin: 0px auto;
}

.food {
  display: block;
}

.reserve-now {
  max-width: 430px;
  margin: 0px auto;
}

.motivation {
  margin-bottom: 30px;
}

.reserve-title {
  @include header-two;
  @include header-two-orange-decor;
  margin-bottom: 20px;
}

.motivation__disc {
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
  font-family: 'Lato';
  font-weight: 400;
  text-align: center;
}

.motivation .motivation__disc:nth-child(2) {
  margin-bottom: 14px;
}

.reserve-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form__input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border: none;
}

.input__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.form__input .input__element:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.input__element label {
  font-size: 14px;
  line-height: 1.2;
  color: #c9a131;
  font-family: 'Open Sans';
  font-weight: 700;
  margin-bottom: 6px;
}

.input__element label:hover,
.input__element label:focus {
  cursor: pointer;
}

.form__element {
  width: 200px;
  height: 36px;
  border: none;
  font-size: 16px;
  color: #7c7c7c;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 36px;
  padding-left: 14px;
  resize: none;
  background-color: rgba(255, 255, 255, 0.4);
  outline: 1px solid #c8c6c6;
}

.form__element:focus {
  border: none;
  outline: 1px solid #c89f2d;
  outline-offset: 0px;
}

.reserve-button {
  width: 202px;
  height: 36px;
  margin: 0px auto;
  background-color: rgba(200, 159, 45, 0.9803921568627451);
  border: 1px solid #c89f2d;
  font-size: 16px;
  color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: center;
}

.reserve-button:hover,
.reserve-button:focus {
  background-color: rgba(255, 255, 255, 0.9803921568627451);
  outline: 1px solid #c89f2d;
  color: #c89f2d;
  cursor: pointer;
}

.form__element--date::-webkit-inner-spin-button,
.form__element--date::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

.form__element--date[type='date']:before {
  content: attr(placeholder) !important;
}

/* .form__element--date[type='date']:before {
  content
}

.form__element--date[type='date']:valid:before {
  content: '';
}
 */

.form__element--date[type='date']:focus:before {
  content: '' !important;
}

/* .form__element--date::-webkit-input-placeholder {
  opacity: 1;
} */

.form__element--date[type='date']::-webkit-datetime-edit {
  content: '';
}

/* .form__element--date[type='date']:valid::-webkit-datetime-edit {
  visibility: visible;
}
 */
// Modify Calendar Control Type

// ::-webkit-datetime-edit {
//   padding: 1px;
// } /*Controlling the editing area*/
// ::-webkit-datetime-edit-fields-wrapper {
//   background-color: #fff;
// } /*Controlling the area*/
// ::-webkit-datetime-edit-text {
//   color: #333;
//   padding: 0 0.5em;
// } /*This is the diagonal or short transverse line that controls the years, months and days.*/
// ::-webkit-datetime-edit-year-field {
//   color: #333;
// } /*Control year text, such as the area occupied by the four letters in 2013*/
// ::-webkit-datetime-edit-month-field {
//   color: #333;
// } /*Control month*/
// ::-webkit-datetime-edit-day-field {
//   color: #333;
// } /*Control specific days*/
// ::-webkit-inner-spin-button {
//   visibility: hidden;
// } /*This is the small arrow that controls the upper and lower arrows.*/
// ::-webkit-calendar-picker-indicator {
//   /*This is the one that controls the drop-down arrow.*/
//   border: 1px solid #ccc;
//   border-radius: 2px;
//   box-shadow: inset 0 1px #fff, 0 1px #eee;
//   background-color: #eee;
//   background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
//   color: #666;
// }
// ::-webkit-clear-button {
//   /*Control Clear Button*/
// }

::-webkit-calendar-picker-indicator {
  display: block;
  background: url(/images/deco-image/picker-indicator.png) no-repeat 50% 50%;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
}
