@import './header-mix';
@import './pattern-selectors';
@import './container-mix';

.reserve {
  max-width: 1600px;
  background-image: url(/images/deco-image/reserve-background.png);
  @extend %section-background;
}

.content-block {
  @include main-container;
  padding: 100px 0px 102px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-block {
  width: 570px;
  display: flex;
  justify-content: space-between;
}

.content-block .img-block {
  margin: 0px auto;
}

.food {
  display: block;
}

.reserve-now {
  max-width: 430px;
  margin: 0px auto;
}

.motivation {
  margin-bottom: 30px;
}

.reserve-title {
  @include header-two;
  @include header-two-orange-decor;
  margin-bottom: 20px;
}

.motivation__disc {
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
}

.motivation .motivation__disc:nth-child(2) {
  margin-bottom: 14px;
}

.reserve-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form__input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border: none;
}

.input__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.form__input .input__element:nth-last-child(-n+2) {
  margin-bottom: 0px;
}

.input__element label {
  font-size: 14px;
  line-height: 1.2;
  color: #c9a131;
  font-family: "Open Sans";
  font-weight: 700;
  margin-bottom: 6px;
}

.form__element {
  width: 200px;
  height: 36px;
  border: none;
  font-size: 16px;
  color: #7c7c7c;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 36px;
  padding-left: 14px;
  resize: none;
  background-color: rgba(255,255,255,0.4);
  outline: 1px solid #c8c6c6;
}

.form__element:focus {
  border: none;
  outline: 1px solid #c89f2d;
  outline-offset: 0px;
}

.reserve-button {
  width: 202px;
  height: 36px;
  margin: 0px auto;
  background-color: rgba(200,159,45,0.9803921568627451);
  border: 1px solid #c89f2d;
  font-size: 16px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
}

.reserve-button:hover,
.reserve-button:focus {
  background-color: rgba(255,255,255,0.9803921568627451);
  outline: 1px solid #c89f2d;
  color: #c89f2d;
  cursor: pointer;
}

::-webkit-datetime-edit {     padding: 1em;
  }
  ::-webkit-datetime-edit-fields-wrapper {
    background: silver;
  }
  ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
  ::-webkit-datetime-edit-month-field { color: blue; }
  ::-webkit-datetime-edit-day-field { color: green; }
  ::-webkit-datetime-edit-year-field { color: purple; }
  ::-webkit-inner-spin-button { display: none; }
  ::-webkit-calendar-picker-indicator { background: url(/images/deco-image/picker-indicator.png); }
}