@import './header-mix';
@import './pattern-selectors';
@import './container-mix';

.reserve {
  max-width: 1600px;
  background-image: url(/images/deco-image/reserve-background.png);
  @extend %section-background;
}

.content-block {
  @include main-container;
  padding: 100px 0px 102px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-block {
  width: 570px;
  display: flex;
  justify-content: space-between;
}

.content-block .img-block {
  margin: 0px auto;
}

.food {
  display: block;
}

.reserve-now {
  max-width: 430px;
  margin: 0px auto;
}

.motivation {
  margin-bottom: 44px;
}

.reserve-title {
  @include header-two;
  line-height: 80px;
  @include header-two-orange-decor;
  margin-bottom: 24px;
}

.motivation__disc {
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
}

.motivation .motivation__disc:nth-child(2) {
  margin-bottom: 18px;
}

.reserve-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0px;
}

.form__input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.visitor {
  width: 200px;
  height: 36px;
  margin-bottom: 30px;
  border: none;
  font-size: 16px;
  color: #7c7c7c;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 36px;
  padding-left: 14px;
  resize: none;
}

.what {
  width: 200px;
  height: 36px;
}

.reserve-button {
  width: 200px;
  height: 36px;
  margin: 0px auto;
}