#menulist {
  background-image: url(../images/deco-image/about-pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
 width: 100%;
}

.container9 {
  max-width: 1250px;
  // width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 105px 110px;
  justify-content: space-between;
}


.menulist__colummone {
  display: flex;
flex-wrap: wrap;
  width: 430px;

}
.menulist__appetisers {

  width: 430px;
}
.menulist__salads {

  width: 430px;
}
.menulist__starters {

  width: 430px;
}
.menulist__dishes {


  width: 430px;
}

.menulist__columm2 {
  display: flex;
  flex-wrap: wrap;

  width: 428px;

}
.menulist__columm1 h3 {
  margin: 0 auto;
  width: 200px;
}

.menulist__item {
  list-style: none;
  border: 1px solid transparent;
  margin-bottom: 32px;
  padding: 10px;
  position: relative;

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Special";
    color: #ffffff;
    width: 70px;
    height: 22px;
    background-color: #d5b764;
    position: absolute;
    right: 0;
    top: -22px;
    opacity: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.menulist__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.menulist__title {
  font-size: 36px;
  line-height: 43px;
  font-family: 'Yeseva One', display;
  color: #c89f2d;
  text-align: center;
  margin-bottom: 28px;
}

.menulist__title::after {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/deco-image/about-title-decoration.png);
  display: block;
  width: 274px;
  height: 24px;
  margin: 0 auto;
  margin-top: 12px;
}

.menulist__product {
  font-size: 21px;
  line-height: 24px;
  font-family: 'Yeseva One', display;
  color: #c89f2d;
}

.menulist__price {
  font-size: 21px;
  line-height: 24px;
  width: 70px;
  text-align: center;
  font-family: 'Yeseva One', display;
  color: #c89f2d;
}

.menulist__desc {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  color: #4c4c4c;
  border-top: 1px solid #e3dcbd;
  padding-top: 10px;
}

.menulist__appetisers {
  margin-bottom: 61px;
}

.menulist__starters {
  margin-bottom: 61px;
}

.menulist__item:hover {
  border: 1px solid #e3dcbd;
}

.menulist__item:hover::before {
  opacity: 1;
}

@media (max-width: 1100px) {

  .menulist__colummone {
    // margin: 0 auto;
    width: 430px;
    padding: 0;
  }
  .menulist__columm2 {
    // margin: 0 auto;
width: 430px;
  }
  .container9 {
    padding: 30px 0 30px 0;
  }
  .menulist__appetisers {
    margin: 0 auto;
    width: 430px;
    padding-bottom: 20px;
  }
  .menu__salads {
    padding-bottom: 20px;
  }
  .menulist__colummone {
    margin: 0 auto;

  }
  .container9 {
    width: 430px;
  }
}
@media (max-width: 450px) {
  .container9 {
    width: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .menulist__appetisers{
    width: 300px;
    padding-bottom: 20px;
  }
.menulist__salads{
  width: 300px;
  padding-bottom: 20px;
}
.menulist__starters{
  width: 300px;
}
.menulist__dishes{
  width: 300px;
}
}
