.receip__one {
  max-width: 100%;
  background-image: url(../images/deco-image/about-pattern.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.container__one {
  height: auto;
  max-width: 1210px;
  padding: 55px 0;
  padding-left: 110px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.receip__one__columm {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  padding: 45px 0;
}

.receip__one__title {
  font-size: 36px;
  line-height: 43px;
  font-family: 'Yeseva One', display;
  color: #cc9900;
  text-align: center;
  margin-bottom: 32px;
}

.receip__one__title::after {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/deco-image/about-title-decoration.png);
  display: block;
  max-width: 274px;
  height: 24px;
  margin: 0 auto;
  margin-top: 14px;
}

.receip__one__text {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  color: #4c4c4c;
  text-align: center;
  padding: 0 8px;
  margin-bottom: 55px;
}

.receip__one_img1 {
  max-width: 219px;
  height: 221px;
  display: block;
  margin-left: 130px;
}

.receip__one__image {
  display: flex;
  max-width: 670px;
  height: auto;
}

.receip__one__img2 {
  max-width: 621px;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container__one {
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
  }

  .receip__one__columm {
    padding: 0;
    margin: 0 auto;
  }

  .receip__one__image {
    padding: 0;
    margin: 0 auto;
  }

}

@media (max-width: 1024px) {
  .container__one {
    max-width: 1024px;
    padding: 20px 0;
    padding-left: 0;
    margin: 0 auto;
  }

  .receip__one__columm {
    padding: 0;
    margin: 0 auto;
  }

  .receip__one__image {
    padding: 0;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container__one {
    max-width: 768px;
    padding: 20px 0;
    margin: 0 auto;
  }

  .receip__one__image {
    padding: 0;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .container__one {
    max-width: 480px;
    padding: 20px 0;
    margin: 0 auto;
  }

  .receip__one__image {
    max-width: 480px;
    padding: 0;
    margin: 0 auto;
  }

  .receip__one__img2 {
    max-width: 480px;
    padding: 0;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .container__one {
    max-width: 310px;
    padding: 20px 0;
    margin: 0 auto;
  }

  .receip__one__image {
    max-width: 320px;
    padding: 0;
    margin: 0 auto;
  }

  .receip__one__img2 {
    max-width: 310px;
    padding: 0;
    margin: 0 auto;
  }
}
