.receip__one {
  background-image: url(../images/deco-image/about-pattern.png);
  background-position: cover;
  margin: 0 auto;
  height: 710px;
}

.receip__one__content {
  display: flex;
  padding-left: 110px;
}

.receip__one__columm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
}

.receip__one__title {
  font-size: 36px;
  color: #cc9900;
  width: 430px;
  text-align: center;
  margin-bottom: 32px;
}

.receip__one__title::after {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/deco-image/about-title-decoration.png);
  display: block;
  width: 274px;
  height: 24px;
  margin: 0 auto;
  margin-top: 14px;
}

.receip__one__text {
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
  width: 430px;
  text-align: center;
  margin-bottom: 55px;
}

.receip__one_img1 {
  width: 219px;
  height: 221px;
  display: block;
  margin: 0 auto;
}

.receip__one__image {
  width: 670px;
  height: 710px;
  padding-top: 55px;
  padding-bottom: 55px;
}

.receip__one__img2 {
  width: 621px;
  height: 625px;
  display: block;
  margin: 0 auto;
}

